@model ILookup<string, IGCV_Protokoll.ViewModels.TopicLinkViewModel> 

<dl class="dl-horizontal link-list">
	@foreach (var linkGroup in Model)
	{
		<dt>@linkGroup.Key</dt>
		foreach (var link in linkGroup)
		{
			<dd id="topicLink_@link.LinkID">
				<div class="link-content">@Html.ActionLink(link.Other.Title, "Details", "Topics", new { id = link.Other.ID }, null)</div>
				<div class="delete-link">
					<a data-ajax="true" data-ajax-method="POST" data-ajax-success="$('#topicLink_@link.LinkID').remove();" href="@Url.Action("Delete", "TopicLink")" style="" title="Verknüpfung löschen">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>

			</dd>
		}
	}
</dl>