
@model IGCV_Protokoll.Areas.Session.Models.AgendaItem

<div class="panel panel-primary">
    <div class="panel-heading">@Html.EditorFor(model => model.Title)</div>
    <div class="panel-body">

    </div>
</div>