@model IGCV_Protokoll.ViewModels.StatisticsViewModels

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Größe
			</th>
			<th>
				Wert
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var stat in Model)
		{
			<tr>
				<td>
					@stat.Name
				</td>
				<td>
					@Html.DisplayFor(m => stat.Value, stat.DisplayTemplate)
				</td>
			</tr>
		}
	</tbody>
</table>