@using IGCV_Protokoll.Models
@model IGCV_Protokoll.ViewModels.CommentListViewModel
@if (Model.ShowCreateForm || Model.Items.Any())
{
	<div class="panel-body">
		@{
			ViewBag.AllowDeletion = Model.AllowDeletion;

			foreach (Comment comment in Model.Items)
			{
				Html.RenderPartial("~/Views/Comments/_Comment.cshtml", comment);
			}
			if (Model.ShowCreateForm)
			{
				ViewBag.TopicID = Model.ParentTopicID;
				var c = new Comment { TopicID = Model.ParentTopicID };

				Html.RenderPartial("~/Views/Comments/_CreateForm.cshtml", c);
			}
		}
	</div>
}