@model IGCV_Protokoll.Models.Document
@using IGCV_Protokoll.util
@{
    string iconname = Model.LatestRevision?.Extension ?? "default";
    iconname = ((Dictionary<string, string>)ViewBag.KnownExtensions).GetValueOrDefault(iconname, "default");

}<a href="@Url.Action("DownloadNewest", "Attachments", new {id = Model.GUID})" target="_blank" class="btn btn-default">
	 <img src="~/img/fileicons/@(iconname).png" height="16" />
	 @Model.DisplayName
 </a>