@using System.Diagnostics.Eventing.Reader
@model IGCV_Protokoll.ViewModels.AccessControlDisplayViewModel

@if (Model.AuthorizedUsers == null)
{
	<strong>Jeder</strong>
}
else if (Model.AuthorizedUsers.Any())
{
	<ul>
		@foreach (var user in Model.AuthorizedUsers)
		{
			<li>@user.ShortName</li>
		}
	</ul>
}
else
{
	<strong>Keiner</strong>
}