@model string

<h2>Hallo @Model,</h2>

<p>herzlich willkommen beim IGCV-Protokoll. Sie sind hiermit registriert und können das Programm ab sofort benutzen.</p>

<p>
	Das IGCV-Protokoll ist gewöhnlich unter <a href="http://R1-protokoll/">http://R1-protokoll/</a> zu erreichen, oder unter <a href="http://R1-protokoll.igcv.fraunhofer.de">http://R1-protokoll.igcv.fraunhofer.de</a> falls Sie eine VPN-Verbindung verwenden.
</p>